body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    color: #FFA500;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table td {
    padding: 10px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-comprar {
    background-color: #FFA500;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: rgb(253, 226, 121);
}

table img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

.vitrine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.item {
    margin-bottom: 20px; 
    padding: 10px;
    box-sizing: border-box;
}
