<html>
    <head>
        <title>Calculadora</title>
        <link rel="stylesheet" type="text/css" href="../arquivos/estilo.css"/> 
    </head>
    <body>
        <form name="frmCalculadora" id="frmCalculadora" action="" method="">
            <div id="posicaoForm">
                <table id="tabela" width="300" border="0" cellspacing="1" cellppading="1">
                    <caption align="top" class="cabecalho"><br>C A L C U L A D O R A<br></caption>
                        <TR>
                            <TH colspan="5"><INPUT TYPE="text" class="visor" NAME="txt_Visor" size="45"></TEXTAREA></TH>
                        </TR>
                        <TR>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('7');">7</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('8');">8</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('9');">9</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('/');">/</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('√');">√</BUTTON></TD>
                        </TR>
                        <TR>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('4');">4</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('5');">5</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('6');">6</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('*');">*</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('X2');">X2</BUTTON></TD>
                        </TR>
                        <TR>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('1');">1</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('2');">2</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('3');">3</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('-');">-</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('.');">,</BUTTON></TD>
                        </TR>
                        <TR>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouNumero('0');">0</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouIGUAL();">=</BUTTON></TD>	
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouCE();">CE</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('+');">+</BUTTON></TD>
                            <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao" onclick="clicouOperacao('1/x');">1/x</BUTTON></TD>
                        </TR>
                </table>
            </div>
        </form>
    </body>
</html>
    