<html lang="pt-Br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="formulario.css">

        <title>Formulário</title>
    </head>
    <body>
        <div class="main-login">
            <div class="right-login">
                <div class="card-login">
                    <div class="textfield">
                        <h1>******** ACESSO ********</h1>
                        <label for="user">Login</label>
                        <input type="text" name="user" placeholder="cc23502@g.unicamp.br">
                    </div>
                    <div class="textfield">
                        <label for="password">Senha</label>
                        <input type="text" name="password" placeholder="********">
                    </div>
                    <button class="btn-acessar">Acessar</button>
                    <button class="btn-limparCampo">Limpar Campos</button>
                </div>
            </div>
        </div>
    </body>
</html>