<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="vitrine.css">
    <title>Vitrine</title>
</head>
<body>
    <header>
        <h1>Vitrine</h1>
    </header>
    <main>
        <table>
            <tr>
                <td><img src="../arquivos/img/argolaTorcida.png" alt="Argola torcida em Ouro Amarelo 18k"></td>
                <td>Argola torcida em Ouro Amarelo 18k</td>
                <td>R$ 600,00</td>
                <td><input type="number" value="1" min="1"></td>
                <td><button class="btn-comprar">Comprar</button></td>
            </tr>
            <tr>
                <td><img src="../arquivos/img/brincoOuroPerola.png" alt="Ouro Amarelo Pérolas e Safiras Incolores"></td>
                <td>Brinco de Ouro Amarelo Pérolas e Safiras Incolores</td>
                <td>R$ 650,00</td>
                <td><input type="number" value="1" min="1"></td>
                <td><button class="btn-comprar">Comprar</button></td>
            </tr>
            <tr>
                <td><img src="../arquivos/img/anel.png" alt="Anel Cores em Ouro Amarelo 18k e Topázio Incolor"></td>
                <td>Anel Cores em Ouro Amarelo 18k e Topázio Incolor</td>
                <td>R$ 1.550,00</td>
                <td><input type="number" value="1" min="1"></td>
                <td><button class="btn-comprar">Comprar</button></td>
            </tr>
            <tr>
                <td><img src="../arquivos/img/pulseira.png" alt="Pulseira Ouro Amarelo Topázio Sky e Diamante"></td>
                <td>Pulseira Ouro Amarelo e Diamante</td>
                <td>R$ 1.290,00</td>
                <td><input type="number" value="1" min="1"></td>
                <td><button class="btn-comprar">Comprar</button></td>
            </tr>
        </table>
    </main>
    
    <footer>
        <p>Vitrine Cotuca, 2023</p>
    </footer>
</body>
</html>