<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="vitrine.css">
    <title>Vitrine</title>
</head>
<body>
    <header>
        <h1>Vitrine</h1>
    </header>
    <main>
        <table>
            <td>
                <th>
                    <section class="item">
                        <img src="argolaTorcida.png" alt="Argola torcida em Ouro Amarelo 18k">
                        <h4>Argola torcida em Ouro Amarelo 18k</h4>
                        <p>R$ 600,00</p>
                        <input type="number" value="1" min="1"/><br><br>
                        <button class="btn-comprar">Comprar</button>
                    </section>
                </th>
            </td>
            <td>
                <th>
                    <section class="item">
                        <img src="brincoOuroPerola.png" alt="Ouro Amarelo Pérolas e Safiras Incolores">
                        <h4>Brinco de Ouro Amarelo Pérolas e Safiras Incolores</h4>
                        <p>R$ 650,00</p>
                        <input type="number" value="1" min="1"><br><br>
                        <button class="btn-comprar">Comprar</button>
                    </section>
                </th>
            </td>
            <td>
                <th>
                    <section class="item">
                        <img src="anel.png" alt="Anel Cores em Ouro Amarelo 18k e Topázio Incolor">
                        <h4>Anel Cores em Ouro Amarelo 18k e Topázio Incolor</h4>
                        <p>R$ 1.550,00</p>
                        <input type="number" value="1" min="1"><br><br>
                        <button class="btn-comprar">Comprar</button>
                    </section>
                </th>
            </td>
            <td>
                <th>
                    <section class="item">
                        <img src="pulseira.png" alt="Pulseira Ouro Amarelo Topázio Sky e Diamante">
                        <h4>Pulseira Ouro Amarelo e Diamante</h4>
                        <p>R$ 1.290,00</p>
                        <input type="number" value="1" min="1"><br><br>
                        <button class="btn-comprar">Comprar</button>
                    </section>
                </th>
            </td>
        </table>
    </main>
</body>
</html>